<h1>Listing companies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Mail</th>
    <th>Site</th>
    <th>Image</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.title %></td>
    <td><%= company.address %></td>
    <td><%= company.phone %></td>
    <td><%= company.mail %></td>
    <td><%= company.site %></td>
    <td><%= company.image %></td>
    <td><%= company.description %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
