
<%=  render "sub_nav" %>

  <%= will_paginate @posts %>
      <% @companies.each do |company| %>
          <div class="row">
            <div class="large-12 columns info_bloc">
              <div class="row">
                <div class="small-3 columns">
                  <a class="th radius">
                    <%= image_tag company.image_url(:company) if company.image? %>
                  </a>

                </div>
                <div class="small-9 columns">
                  <div class="row">
                    <div class="large-12 columns"><%= link_to company.title, company %></div>

                    <div class="large-12 columns">Адрес: <%= company.address %></div>

                    <div class="large-12 columns">Телефон: <td><%= company.phone %></td></div>

                    <div class="large-12 columns">
                      <%= link_to 'Подробнее »', company %>
                      <%= link_to 'Изменить', edit_company_path(company) if current_user%>
                      <%= link_to 'Удалить', company, method: :delete, data: { confirm: 'Are you sure?' } if current_user%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="large-12 columns title line"></div>

  <% end %>






    <%= will_paginate @posts %>
    <%= link_to 'New Company', new_company_path if current_user%>




