<%=  render "sub_nav" %>

<a href=<%= company_path(@previous) %>  ><span>Предыдущая</span></a>
<a href=<%= company_path(@next) %>  ><span>Следующая</span></a>

<div class="row">
  <div class="small-12 columns">
    <div class="small-5 columns">

        <%= image_tag @company.image_url(:big), :class=>"th radius" if @company.image? %>

    </div>
    <div class="small-7 columns">

      <div class="large-12 columns title"><%= @company.title %></div>
      <div class="large-12 columns">Адрес: <%= @company.address %></div>
      <div class="large-12 columns">Телефон: <%= @company.phone %></div>
      <div class="large-12 columns">E-mail: <%= @company.mail %></div>
      <div class="large-12 columns">Сайт: <%= link_to @company.site, @company.site %></div>

    </div>

    <div class="small-12 columns" style="margin: 20px 0 20px 0;">

      <%= @company.description %>

    </div>
  </div>
</div>


<%= link_to 'Edit', edit_company_path(@company) if current_user%>

