<%= form_for(@advert) do |f| %>
  <% if @advert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advert.errors.count, "error") %> prohibited this advert from being saved:</h2>

      <ul>
      <% @advert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :function_type_id %><br />
    <%= f.collection_select :function_type_id, FunctionType.order(:title), :id, :title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br />
    <%= f.collection_select :region_id, Region.order(:title), :id, :title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br />
    <%= f.collection_select :city_id, City.order(:title), :id, :title, include_blank: true %>
  </div>
    <div class="field">
      <%= f.label :street_id %><br />
      <%= f.grouped_collection_select :street_id, City.order(:title), :streets, :title, :id, :title, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :city_district_id %><br />
      <%= f.grouped_collection_select :city_district_id, City.order(:title), :city_districts, :title, :id, :title, include_blank: true %>
    </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :house %><br />
    <%= f.text_field :house %>
  </div>

  <div class="field">
    <%= f.label :room_number %><br />
    <%= f.number_field :room_number %>
  </div>
  <div class="field">
    <%= f.label :house_type_id %><br />

    <%= f.collection_select :house_type_id, HouseType.order(:title), :id, :title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :floor %><br />
    <%= f.text_field :floor %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br />
    <%= f.collection_select :state_id, State.order(:title), :id, :title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :layout %><br />
    <%= f.file_field :layout %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.text_field :video %>
  </div>

    <div class="field">
      <%= f.label :category %><br />
      <%= f.select :category, ["Commercial","Apartment","House","Land"] %>

    </div>

  <div class="field">
    <%= f.fields_for :advert_images if AdvertImage.where(:advert_id => @advert.id.to_s).present? do |builder| %>
        <%= render 'advert_image_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add AdvertImage", f, :advert_images %>
  </div>

  <div class="field">
    <%= f.fields_for :layouts if Layout.where(:advert_id => @advert.id.to_s).present? do |builder| %>
        <%= render 'layout_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Layout", f, :layouts %>
  </div>
           =----------------
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
