

  <%= form_tag adverts_path, :method => 'get' do %>
      <fieldset>
        <legend>Поиск</legend>





      <div class="row">
        <div class="small-8">
          <div class="row">
            <div class="small-4 columns">
              <label for="right-label" class="right inline">Количество комнат:</label>
            </div>
            <div class="small-8 columns">
              <%= text_field_tag :room_number, params[:room_number] %>
            </div>
          </div>
        </div>

        <div class="small-8">
          <div class="row">
            <div class="small-4 columns">
              <label for="right-label" class="right inline">Стоимость:</label>
            </div>
            <div class="small-4 columns">
              <%= text_field_tag :min_price, params[:min_price], :placeholder=>"min" %>
            </div>
            <div class="small-4 columns">
              <%= text_field_tag :max_price, params[:max_price], :placeholder=>"max" %>
            </div>
          </div>
        </div>


        <div class="small-8">
          <div class="row">
            <div class="small-4 columns">
              <label for="right-label" class="right inline">Стоимость:</label>
            </div>
            <div class="small-4 columns">
              <%= text_field_tag :min_area, params[:min_area], :placeholder=>"min" %>
            </div>
            <div class="small-4 columns">
              <%= text_field_tag :max_area, params[:mmax_area], :placeholder=>"man" %>
            </div>
          </div>
        </div>



        <%= submit_tag "Search", :id => nil %></div>

      </fieldset>
  <% end %>
