<dl class="sub-nav">
  <dd class="active"><a href=<%= adverts_path(:rend => "all") %>>all</a></dd>
  <dd><a href=<%= adverts_path(:rend => "Commercial") %>>Комерческая недвижимость</a></dd>
  <dd><a href=<%= adverts_path(:rend => "Apartment") %>>Квартиры</a></dd>
  <dd><a href=<%= adverts_path(:rend => "House") %>>Дома</a></dd>
  <dd><a href=<%= adverts_path(:rend => "Land") %>>Земля</a></dd>
</dl>