<h1>Listing adverts</h1>

<table>
  <tr>
    <th> <%=  link_to  'Title', :sort => "name"%></th>
    <th>Price</th>
    <th>Type</th>
    <th>Region</th>
    <th>City</th>
    <th>Area</th>
    <th>Street</th>
    <th>House</th>
    <th>City district</th>
    <th>Room number</th>
    <th>House type</th>
    <th>Floor</th>
    <th>Height</th>
    <th>State</th>
    <th>Description</th>
    <th>Image</th>
    <th>Layout</th>
    <th>Video</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adverts.each do |advert| %>
  <tr>
    <td><%= advert.title %></td>
    <td><%= advert.price %></td>
    <td><%= advert.function_type_id %></td>
    <td><%= advert.region_id %></td>
    <td><%= advert.city_id %></td>
    <td><%= advert.area %></td>
    <td><%= advert.street_id %></td>
    <td><%= advert.house %></td>
    <td><%= advert.city_district_id %></td>
    <td><%= advert.room_number %></td>
    <td><%= advert.house_type_id %></td>
    <td><%= advert.floor %></td>
    <td><%= advert.height %></td>
    <td><%= advert.state_id %></td>
    <td><%= advert.description %></td>
    <td><%= advert.image %></td>
    <td><%= advert.layout %></td>
    <td><%= advert.video %></td>
    <td><%= advert.user_id %></td>
    <td><%= link_to 'Show', advert %></td>
    <td><%= link_to 'Edit', edit_advert_path(advert) %></td>
    <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advert', new_advert_path %>



<!-- Contact Details -->
<div class="large-9 columns">

  <h3>Get in Touch!</h3>
  <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>

  <dl class="sub-nav">

    <dd class="active"><%= link_to "All", adverts_path(:rend => "all") %></dd>
    <dd><%= link_to "Комерческая недвижимость", adverts_path(:rend => "commercial")%></dd>
    <dd><%= link_to "Квартиры", adverts_path(:rend => "apartment")%></dd>
    <dd><%= link_to "Дома", adverts_path(:rend => "home")%></dd>
    <dd><%= link_to "Земля", adverts_path(:rend => "land")%></dd>

  </dl>



  <%= render @rend %>




  <div class="section-container tabs" data-section>

    <section class="section">
      <h5 class="title"> <%= link_to 'all', "#panel0" %></h5>
      <div class="content" data-slug="panel0">



      </div>
    </section>

    <section class="section">
      <h5 class="title"><a href="#panel3">Specific Person</a></h5>
      <div class="content" data-slug="panel3">
        <ul class="large-block-grid-5">
          <li><a href="mailto:mal@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Mal Reynolds</a></li>
          <li><a href="mailto:zoe@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Zoe Washburne</a></li>
          <li><a href="mailto:jayne@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Jayne Cobb</a></li>
          <li><a href="mailto:doc@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Simon Tam</a></li>
          <li><a href="mailto:killyouwithmymind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">River Tam</a></li>
          <li><a href="mailto:leafonthewind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Hoban Washburne</a></li>
          <li><a href="mailto:book@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Shepherd Book</a></li>
          <li><a href="mailto:klee@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Kaywinnet Lee Fry</a></li>
          <li><a href="mailto:inara@guild.comp.all"><img src="http://placehold.it/200x200&amp;text=[person]">Inarra Serra</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>

<!-- End Contact Details -->