<div class="section-container tabs" data-section xmlns="http://www.w3.org/1999/html">

  <section class="section">
    <h5 class="title"> <%= link_to 'Описание', "#panel0" %></h5>
    <div class="content" data-slug="panel0">
      <div class="row">
        <div class="small-4 push-8 columns" >
          <div class="large-12 columns" style="margin-left:15px; padding: 0;">
            <p>Контактная информация:</p>
            <div class="row">
              <p>e-mail: <%=  @advert.user.email %></p>
            </div>
          </div>

        </div>
        <div class="small-8 pull-4 columns" style="border-right: solid 1px #f6f6f6;">
          <div class="large-12 columns" style="margin-bottom: 16px; ">
            <p>Описание обьекта</p>
            <div class="large-6 columns">
              <p>ID обьявления:</p>
              <p>Тип квартиры:</p>
              <p>Количество комнат:</p>
              <p>Вид комнат:</p>
              <p>Цена за м.кв.:</p>
              <p>Площадь м.кв.:</p>
              <p>Тип дома:</p>
              <p>Материал дома:</p>
              <p>Этаж:</p>
              <p>Высота потолка:</p>
              <p>На текущую дату:</p>
            </div>
            <div class="large-6 columns">
              <p><%= @advert.id %> </p>
              <p><%= @advert.house_type_id %></p>
              <p><%= @advert.room_number %></p>
              <p>N/A</p>
              <p><%= @advert.price/@advert.area %></p>
              <p><%= @advert.area %></p>
              <p><%= @advert.function_type.title if @advert.function_type_id.present? %></p>
              <p>N/A</p>
              <p>N/A</p>
              <p><%= @advert.floor %></p>
              <p><%= @advert.height %></p>
              <p><%= @advert.state.title if @advert.state.title.present?%></p>
            </div>


          </div>


          <div class="large-12 columns" style="border-top: solid 1px #f6f6f6; padding-top: 15px;">
            <p>Дополнительная информация:</p>
            <p><%= @advert.description %></p>
          </div>
        </div>
      </div>


    </div>
  </section>
  <section class="section">
    <h5 class="title"> <%= link_to 'Фото', "#panel1" %></h5>
    <div class="content" data-slug="panel1" >


      <ul class="clearing-thumbs small-block-grid-2" data-clearing>
        <% @advert.advert_images.each do |image| if AdvertImage.last.present?%>
            <li><%=link_to (image_tag image.image_url(:small)),image.image_url %>
        <% end %>
      </ul>


    </div>
  </section>

  <section class="section">
    <h5 class="title"> <%= link_to 'Планировка', "#panel2" %></h5>
    <div class="content" data-slug="panel2">
      <ul class="clearing-thumbs small-block-grid-2" data-clearing>
        <% @advert.layouts.each do |image| if Layout.last.present?%>
            <li ><%=link_to (image_tag image.image_url(:small)),image.image_url%>
        <% end %>
      </ul>


    </div>
  </section>

  <section class="section">
    <h5 class="title"> <%= link_to 'Видео', "#panel3" %></h5>
    <div class="content" data-slug="panel3">

      <%=raw @advert.video %>

    </div>
  </section>


  <section class="section">
    <h5 class="title"> <%= link_to 'На карте', "#panel4" %></h5>
    <div class="content" data-slug="panel4">



    </div>
  </section>







  <section class="section">
    <h5 class="title"><a href="#panel3">Specific Person</a></h5>
    <div class="content" data-slug="panel3">
      <ul class="large-block-grid-5">
        <li><a href="mailto:mal@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Mal Reynolds</a></li>
        <li><a href="mailto:zoe@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Zoe Washburne</a></li>
        <li><a href="mailto:jayne@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Jayne Cobb</a></li>
        <li><a href="mailto:doc@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Simon Tam</a></li>
        <li><a href="mailto:killyouwithmymind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">River Tam</a></li>
        <li><a href="mailto:leafonthewind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Hoban Washburne</a></li>
        <li><a href="mailto:book@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Shepherd Book</a></li>
        <li><a href="mailto:klee@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Kaywinnet Lee Fry</a></li>
        <li><a href="mailto:inara@guild.comp.all"><img src="http://placehold.it/200x200&amp;text=[person]">Inarra Serra</a></li>
      </ul>
    </div>
  </section>
</div>


<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @advert.title %>
</p>

<p>
  <b>Price:</b>
  <%= @advert.price %>
</p>

<p>
  <b>Type:</b>
  <%= @advert.function_type.title %>
</p>

<p>
  <b>Region:</b>
  <%= @advert.region_id %>
</p>

<p>
  <b>City:</b>
  <%= @advert.city.title %>
</p>

<p>
  <b>Area:</b>
  <%= @advert.area %>
</p>

<p>
  <b>Street:</b>
  <%= @advert.street.title %>
</p>

<p>
  <b>House:</b>
  <%= @advert.house %>
</p>

<p>
  <b>City district:</b>
  <%= @advert.city_district.title %>
</p>

<p>
  <b>Room number:</b>
  <%= @advert.room_number %>
</p>

<p>
  <b>House type:</b>
  <%= @advert.house_type_id %>
</p>

<p>
  <b>Floor:</b>
  <%= @advert.floor %>
</p>

<p>
  <b>Height:</b>
  <%= @advert.height %>
</p>

<p>
  <b>State:</b>
  <%= @advert.state_id %>
</p>



<p>
  <b>Image:</b>
  <%= image_tag @advert.image_url(:big) if @advert.image? %>

</p>

<p>
  <b>Layout:</b>
  <%= image_tag @advert.layout_url(:big) if @advert.image? %>
</p>

<p>
  <b>Video:</b>
  <%=raw @advert.video %>
</p>

<p>
  <b>User:</b>
  <%= @advert.user.email %>
</p>
<p>
  <b>Category:</b>
  <%= @advert.category %>
</p>


<ol class="questions">
  <% @advert.advert_images.each do |image| %>
      <li>

        <%= image_tag image.image_url(:big) if image.image? %>
      </li>
  <% end %>
</ol>

<ol class="questions">
  <% @advert.layouts.each do |layout| %>
      <li>

        <%= image_tag layout.image_url(:big) if layout.image? %>
      </li>
  <% end %>
</ol>



<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
