<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @advert.title %>
</p>

<p>
  <b>Price:</b>
  <%= @advert.price %>
</p>

<p>
  <b>Type:</b>
  <%= @advert.type_id %>
</p>

<p>
  <b>Region:</b>
  <%= @advert.region_id %>
</p>

<p>
  <b>City:</b>
  <%= @advert.city_id %>
</p>

<p>
  <b>District:</b>
  <%= @advert.district %>
</p>

<p>
  <b>Area:</b>
  <%= @advert.area %>
</p>

<p>
  <b>Street:</b>
  <%= @advert.street %>
</p>

<p>
  <b>House:</b>
  <%= @advert.house %>
</p>

<p>
  <b>City district:</b>
  <%= @advert.city_district_id %>
</p>

<p>
  <b>Room number:</b>
  <%= @advert.room_number %>
</p>

<p>
  <b>House type:</b>
  <%= @advert.house_type_id %>
</p>

<p>
  <b>Floor:</b>
  <%= @advert.floor %>
</p>

<p>
  <b>Height:</b>
  <%= @advert.height %>
</p>

<p>
  <b>State:</b>
  <%= @advert.state_id %>
</p>

<p>
  <b>Description:</b>
  <%= @advert.description %>
</p>

<p>
  <b>Image:</b>
  <%= @advert.image %>
</p>

<p>
  <b>Layout:</b>
  <%= @advert.layout %>
</p>

<p>
  <b>Video:</b>
  <%= @advert.video %>
</p>

<p>
  <b>User:</b>
  <%= @advert.user_id %>
</p>


<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
