<h1>Advanced Search</h1>

<%= form_for @search do |f| %>
    <div class="field">
      <%= f.label :category %><br />
      <%= f.select :category, ["Commercial","Apartment","House","Land"], include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :city_id %><br />
      <%= f.collection_select :city_id, City.order(:title), :id, :title, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :state_id %><br />
      <%= f.collection_select :state_id, State.order(:title), :id, :title, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :floor %><br />
      <%= f.text_field :floor %>
    </div>
    <div class="field">
      <%= f.label :room_number %><br />
      <%= f.text_field :room_number %>
    </div>
    <div class="field">
      <%= f.label :min_price, "Price Range" %><br />
      <%= f.text_field :min_price, size: 10 %> -
      <%= f.text_field :max_price, size: 10 %>
    </div>
    <div class="field">
      <%= f.label :min_area, "Area Range" %><br />
      <%= f.text_field :min_area, size: 10 %> -
      <%= f.text_field :max_area, size: 10 %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
<% end %>





