<!-- Contact Details -->
<div class="large-9 columns">


  <dl class="sub-nav">

    <dd class="active"><%= link_to "Все", posts_path(:rend => "all") %></dd>
    <dd><%= link_to "Инфраструктура Киева", posts_path(:rend => "infrost_kiev")%></dd>
    <dd><%= link_to "Недвижимость Киева", posts_path(:rend => "kiev_estate")%></dd>
    <dd><%= link_to "Строительное законодательство", posts_path(:rend => "low")%></dd>
  </dl>






  <%= render @rend%>
</div>

<!-- End Contact Details -->