<!-- Contact Details -->
<div class="large-9 columns">


  <dl class="sub-nav">

    <dd class="active"><%= link_to "Все", posts_path(:rend => "all") %></dd>
    <dd><%= link_to "Инфраструктура Киева", posts_path(:rend => "Infrastructure Kiev")%></dd>
    <dd><%= link_to "Недвижимость Киева", posts_path(:rend => "Real estate in Kiev")%></dd>
    <dd><%= link_to "Строительное законодательство", posts_path(:rend => "Building Law")%></dd>
  </dl>




  <div class="paginate"> <%= will_paginate @posts %></div>

  <h5 class="title"><a href="#panel1">All</a></h5>
  <div class="content" data-slug="panel1">




    <% @posts.each do |post| %>

        <div class="info_bloc" > <!-- info blok-->
          <div class="post_title"><%= post.title %></div>
          <div class="info_img"><%= image_tag post.image_url(:small) if post.image? %></div>
          <div class="info_description">
            <div><%= post.updated_at %>/<%= post.category%> </div>
            <div> <%= truncate(post.description, :length => 135) %> </div>
          </div>
          <div class="info_link">
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div><!--End info blok-->
    <% end %>
    <div><%= link_to 'New Post', new_post_path %></div>
  </div>
</div>

<!-- End Contact Details -->