<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @post.image_url(:big) if @post.image? %>
</p>

<p>
  <b>Description:</b>
  <%= @post.category_id %>
</p>

<div style="float: left; border: 1px solid red; width: 100%; margin: 10px 0 0 0;"> <!-- post blok-->



  <div style="width: 100%; border: 1px solid green; "> <%= @post.title %></div>


  <div style="float:left;  margin-left: 10px;  border: 1px solid gray;"><%= image_tag @post.image_url(:big) if @post.image? %></div>


  <div style="float:right; border: 1px solid blue; margin: 10px 10px 10px 0; width:70%">
    <div><%= post.updated_at %>/<%= post.category_id%> </div>
    <div> <%= @post.description %>  </div>


  </div>

  <div style="float:left; margin-left: 10px">
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>




<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
