<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @post.image_url(:big) if @post.image? %>
</p>

<p>
  <b>Type:</b>
  <%= @post.category %>
</p>


<ol class="questions">
  <% @post.post_images.each do |image| %>
      <li>

        <%= image_tag image.image_url(:big) if image.image? %>
      </li>
  <% end %>
</ol>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>



