<!-- Sidebar -->


<div class="large-3 columns">

  <div id="user_header">
    <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log Out", logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %> or

        <h1>Log in</h1>

        <%= form_tag sessions_path do %>
            <p>
              <%= label_tag :email %><br />
              <%= text_field_tag :email, params[:email] %>
            </p>
            <p>
              <%= label_tag :password %><br />
              <%= password_field_tag :password %>
            </p>
            <p class="button"><%= submit_tag "Log in" %></p>
        <% end %>
    <% end %>
  </div>


  <h5>Map</h5>
  <!-- Clicking this placeholder fires the mapModal Reveal modal -->
  <p>
    <a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280"></a><br />
    <a href="" data-reveal-id="mapModal">View Map</a>
  </p>
  <p>
    123 Awesome St.<br />
    Barsoom, MA 95155
  </p>
</div>
<!-- End Sidebar -->