

  <nav class="breadcrumbs" id="top_bar">
    <div style="float: left; ">
      <%= link_to image_tag("logo.png", :size => "100x60"), adverts_path %>

    </div>

    <%= link_to 'Недвижимость', adverts_path%>
    <%= link_to 'Компании', companies_path %>
    <%= link_to 'Новости', posts_path %>
    <%= link_to 'Поиск', new_search_path %>
    <%= Time.now.strftime("%y.%m.%d %H:%M ") %>

  </nav>

